/*add a:visited & hover styling */


/*quote & Header styling */
.quote, h1 {  
    display: block; 
    padding: 10%; 
    width:100%; 
}

.quote { 
    margin: 0px;
    text-align: center; 
    display: inline; 
}

header { 
  margin-bottom: 50px; 
}
/*navigation styling---*/

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline; 
    font-size: 20px; 
   
}

.nav-menu li {
    display: inline;
    margin: 8px; 
    border: 2px #dfdfdf;
    padding: 8px; 
}

.nav-menu {
    margin-left: 20px;
    text-align: center;  

/*Social Buttons styling */

}
.social-buttons{
width: 100%; 
text-align: center; 
}

.social-buttons i {
    display: inline;
    padding: 5px;
    margin: 5px; 
    font-size: 30px !important; 
}
/*General Section styling */
#about-section { 
    margin: 20px 20px 50px 20px !important;
    padding: 5px; 
}
#timeline{ 
    margin-bottom:50px;
}

#portfolio{ 
    margin: 20px 20px 50px 20px !important;}

#contact-section{ 
    margin: 20px 20px 50px 20px !important;}

h2 {
   margin: 10px;
   padding: 0 10px 0 10px; 
   border: 5px solid #db5940; border-radius: 50px;  
   text-align: center; 
   font-size:35px; 
 
}

h3 { 
text-align: center; 
padding: 10px 0 10px 0; 
color: #db5940;  
font-size: 30px;  
}

h3{ 
text-align: center; 
padding: 10px 0 30px 40px;  
}

/*----Profile Image----*/
.image {
margin: auto; 
margin-top: 40px;
margin-bottom: 25px;  
width: 50%; 
background-color: #c9c7c7;  
display: block; 
text-align:center; 
object-fit: cover; 
border-radius:50%;
}

/* TIMELINE STYLES ---*/ 

.timeline-text{
  background-color: #fff; 
  font-family: monospace; 
  font: bold 30px monospace;
  text-align: center; 
  width: 50%; 
  margin: auto; 
  padding: 10px;
  display: block; 
}

#timeline { 
background-color: #23527C;
  padding: 10px; 
}

#timeline ul li { 
list-style-type: none; 
   position: relative; 
  width: 8px; 
  margin: 30px auto; 
  padding-top :50px;
  background: #ffeb00; 
}

#timeline ul li::after{ 
  content: ''; 
  position: absolute; 
  left:  50%; 
border-radius:50%;
  background: inherit;
  height: 30px; 
  width: 30px;  
 transform: translateX(-50%); 
}

#timeline ul li div { 
position: relative;
bottom: -30px; 
width: 300px; 
padding: 20px; 
background: #F45;  
}

#timeline div::before {
  content: ''; 
  position: absolute; 
  bottom: 7px; 
  width: 0; 
  height: 0; 
  border-style: solid; 
}

#timeline ul li:nth-child(odd) div{ 
left: 45px; 
}

#timeline:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45 transparent transparent;
}

#timeline ul li:nth-child(even) div{ 
left: -375px; 
}

#timeline ul li:nth-child(even) div::before{ 
  left: 340px; 
  border-width: 8px 0 8px 15px; 
  border-color: transparent transparent transparent #F45; 
}


/*Portfolio section styling */
.port-cols table { 
  width: 100%; 
}
.port-cols td { 
  text-align: center; 
  border: 25px solid transparent; 
  border-collapse: separate; 
}

.port-cols img {  
  width: 100%; 
  text-align: center; 
  
}

.footer {
background-color: #23527C; 
}

